@model IEnumerable<DataLibrary.Models.Billings>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Assets/pluggin/fontawesome-free/css/all.min.css">

<!---SweetAlert--->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnAlert").click(function (e) {
            var id = $(e.currentTarget).data("user-id");
            var arr = id.split(",");

            swal({
                confirmButtonText: "Yes",
                title: "Confirmation?",
                text: "Are you sure want to delete " + arr[0] + "?",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted", "Bill has been successfully deleted", "success");
                        var link = '@Url.Action("DeleteBill", "Billing",
                                               routeValues: new { id = "_myid_" })';
                        window.location.href= link.replace('_myid_', arr[0]);
                         } else {
                        swal("Cancelled", "Bill not yet deleted", "error");

                            }
                });

            return false;

        });
    });

</script>

<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
            <h1 class="mt-3">Billings</h1>
            <ol class="breadcrumb mb-4"></ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    View Billings
                </div>
                <div class="card-body">
                    <main>

                        <!-- /.card -->
                        <div class="card">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Bill ID</th>
                                            <th>Corporate ID</th>
                                            <th>Bill Date</th>
                                            <th>Package</th>
                                            <th>SubscribeMonth</th>
                                            <th>Details</th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BillID)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CorporateID)
                                                </td>

                                                <td>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy hh:mm tt}", item.BillDate))
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PackageName)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SubscribeMonth)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Details", "Billing",routeValues: new { id = item.BillID })">
                                                        <button type="button" class="btn btn-outline-dark">
                                                            <span class="fa fa-edit"></span>
                                                        </button>
                                                    </a>
                                                    <a>
                                                        <button type="button" id="btnAlert" data-user-id="@(item.BillID)" class="btn btn-danger btnAlert">
                                                            <span class="fa fa-trash"></span>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </main>
                </div>
            </div>
            <!-- /.card -->
            <!-- /.container-fluid -->
            <!-- jQuery -->
            <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

            <script>
                $(function () {
                    $("#example1").DataTable({
                        "responsive": true, "lengthChange": false, "autoWidth": false,
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                    $('#example2').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                    });
                });
            </script>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

