@model IEnumerable<DataLibrary.Models.Blacklist>



<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Assets/pluggin/fontawesome-free/css/all.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/Assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="~/Assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
<link href="~/Assets/css/styles.css" rel="stylesheet" />
<!---SweetAlert--->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnAlerts").click(function (e) {
            var id = $(e.currentTarget).data("user-id");

            swal({
                confirmButtonText: "Yes",
                title: "Confirmation?",
                text: "Are you sure want to whitelist userID:" + id + "?",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted", "UserID has been successfully whitelist", "success");
                        var link = '@Url.Action("WhitelistUserID", "Blacklist",
                                               routeValues: new { id = "_myid_" })';
                        window.location.href= link.replace('_myid_', id);
                         } else {
                        swal("Cancelled", "UserID not yet whitelist", "error");

                            }
                });

            return false;

        });
    });

</script>
<div id="layoutSidenav">

    <div id="layoutSidenav_content">
        <div class="container-fluid px-4">
            <h1 class="mt-3">Blacklist</h1>
            <ol class="breadcrumb mb-4"></ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    View Blacklist UserID
                    <select id="blacklist" onchange="SelectionChanged(this)" style="float:right">
                        <option value="">Select Blacklist Type</option>
                        <option value="UUID">UUID</option>
                        <option value="UserID">UserID</option>
                    </select>
                </div>
                <div>

                </div>
                <div class="card-body">

                    <main>

                        <!-- /.card -->
                        <div class="card">

                            <!-- /.card-header -->
                            <a class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>userID</th>
                                            <th>reason</th>
                                            <th>blacklistTime</th>
                                            <th>adminID</th>
                                            <th>Whitelist</th>
                                        </tr>

                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.userID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.reason)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.blacklistTime)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.staffID)
                                                </td>

                                                <td>
                                                    <a>
                                                        <button type="button" class="btn btn-outline-dark btnAlerts" data-user-id="@(item.userID)">
                                                            <span class="fa fa-trash"></span>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>

                                </table>
                            </a>
                        </div>
                        <!-- /.card-body -->
                    </main>
                        </div>
                   
                </div>
            </div>
            <!-- /.card -->
            <!-- /.container-fluid -->
            <!-- jQuery -->
            <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
            <!-- Bootstrap 4 -->
            <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- DataTables  & Plugins -->
            <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
            <script src="~/Assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
            <script src="~/Assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
            <script src="~/Assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
            <script src="~/Assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
            <script src=".~/Assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
            <script src="~/Assets/plugins/jszip/jszip.min.js"></script>
            <script src="~/Assets/plugins/pdfmake/pdfmake.min.js"></script>
            <script src="~/Assets/plugins/pdfmake/vfs_fonts.js"></script>
            <script src="~/Assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
            <script src="~/Assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
            <script src="~/Assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
            <!-- AdminLTE App -->
            <!-- AdminLTE for demo purposes -->
            <!-- Page specific script -->
            <script>
                $(function () {
                    $("#example1").DataTable({
                        "responsive": true, "lengthChange": false, "autoWidth": false,
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                    $('#example2').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                    });
                });
            </script>
            <script>

                function SelectionChanged(chosen)
                {
                    var value = chosen.value;

                    location.href = '@Url.Action("ViewBlacklistOpt", "Blacklist")?Blacklist=' + value;
            }
            </script>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>


