
@{
    var role = HttpContext.Current.Session["position"] as string;
 }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Home</div>
                            <a>
                                @Html.ActionLink("Dashboard", "index", "Home", null, new { @class = "nav-link" })
                            </a>
                            <div class="sb-sidenav-menu-heading">Modules</div>


                            <a class="nav-link collapsed" data-bs-toggle="collapse"
                               data-bs-target="#collapseLayouts" aria-expanded="false"
                               aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Rewards
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("View Rewards", "ViewRewards", "Rewards", null, new { @class = "nav-link" })
                                    @Html.ActionLink("View Claim Records", "ViewClaimRecords", "Rewards", null, new { @class = "nav-link" })
                                    @Html.ActionLink("Add Rewards", "AddRewards", "Rewards", null, new { @class = "nav-link" })
                                </nav>
                            </div>


                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                               aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Disease
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested">
                                    @Html.ActionLink("View Disease", "ViewDisease", "Diseases", null, new { @class = "nav-link" })

                                </nav>
                                <nav class="sb-sidenav-menu-nested">
                                    @Html.ActionLink("Add Disease", "AddDisease", "Diseases", null, new { @class = "nav-link" })

                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages2"
                               aria-expanded="false" aria-controls="collapsePages2">
                                <div class="sb-nav-link-icon"><i class="fas fa-money-bill"></i></div>
                                Sales Billing
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages2" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested">
                                    @Html.ActionLink("View Billing", "ViewBilling", "Billing", null, new { @class = "nav-link" })
                                </nav>

                                @if (role == "Senior Admin")
                                {
                                    <nav class="sb-sidenav-menu-nested">
                                        @Html.ActionLink("Add Billings", "Subscription", "Subscription", null, new { @class = "nav-link" })
                                    </nav>
                                }
                                else
                                {
                                    <nav class="sb-sidenav-menu-nested">
                                        @Html.ActionLink("Add Billing", "Subscription", "Subscription", null, new { @style = "display:none" })
                                    </nav>
                                }
                            </div>


                            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages1"
                               aria-expanded="false" aria-controls="collapsePages1">
                                <div class="sb-nav-link-icon"><i class="fas fa-person-booth"></i></div>
                                User
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("View User", "ViewUser", "User", null, new { @class = "nav-link" })
                                    @Html.ActionLink("Add New User", "AddNewUser", "User", null, new { @class = "nav-link" })
                                </nav>
                            </div>
                            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages3"
                               aria-expanded="false"
                               aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Corporate
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("View Corporate", "ViewCorporate", "Corporate", null, new { @class = "nav-link" })
                                    @Html.ActionLink("Add Corporate", "AddCorporate", "Corporate", null, new { @class = "nav-link" })
                                </nav>
                            </div>
                            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages5"
                               aria-expanded="false"
                               aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-line"></i></div>
                                Report
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages5" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("View Report", "Report", "Report", null, new { @class = "nav-link" })

                                </nav>
                            </div>
                            <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePages4"
                               aria-expanded="false"
                               aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-trash"></i></div>
                                Blacklist
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages4" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    @Html.ActionLink("View Blacklist", "ViewBlacklist", "Blacklist", null, new { @class = "nav-link" })
                                    @Html.ActionLink("Add Blacklist", "AddBlacklist", "Blacklist", null, new { @class = "nav-link" })

                                </nav>
                            </div>
                            <a class="nav-link" href="@Url.Action("PendingActivity", "Activity")">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Pending Activity
                            </a>





                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <span>@role</span>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Assets/js/scripts.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/Assets/js/datatables-simple-demo.js"></script>
<script src="~/Scripts/10.js"></script>

