@model DataLibrary.Models.Email

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript">

    function validateData() {
        if ($("#project_Desc").val() == "") {
            swal("Project desciption  cannot be null!");
            return false;
        } else if ($("#project_StartDate").val() == "") {
            swal("Project StartDate cannot be null!");
            return false;
        } else {
            return true;
        }

    }

    function Validate(ctl, event) {
        event.preventDefault();
        swal({
            title: "Do you want to add a Email?",
            text: "Please check information before adding !",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#008000",
            confirmButtonText: "Add",
            cancelButtonText: "Cancel",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    if (validateData() == true) {
                        $("#CreateForm").submit();s
                    }
                } else {
                    swal("Cancelled", "You have Cancelled an adding action!", "error");
                }
            });
    }
</script>
@using (Html.BeginForm("AddEmail", "Email", FormMethod.Post, new { enctype = "multipart/form-data", id = "CreateForm" }))
{
    @Html.AntiForgeryToken()
    <div id="layoutSidenav">

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <section class="panel">
                        <header class="panel-heading" style="font-size:250%">
                            Add Email
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:15px">
                                    @Html.LabelFor(model => model.email_Name, htmlAttributes: new { @class = "control-label col-lg-2", @style = "margin-top:26px" })
                                </a>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(m => m.email_Name, new { @style = "width:522px" })
                                </div>
                                <br />
                            </div>



                            <div class="form-group">
                                <a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:15px">
                                    @Html.LabelFor(model => model.email_AddressFrom, htmlAttributes: new { @class = "control-label col-md-2" })
                                </a>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.email_AddressFrom, (SelectList)ViewBag.UserList, new { @class = "form-control chosen-select", style = "width: 522px;" })
                                </div>
                                <br />
                            </div>



                            <div class="form-group">
                                <a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:15px">
                                    @Html.LabelFor(model => model.email_AddressTo, htmlAttributes: new { @class = "control-label col-md-2" })
                                </a>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.email_AddressTo, (SelectList)ViewBag.UserList, new { @class = "form-control chosen-select", style = "width: 522px;" })
                                </div>
                                <br />
                            </div>

                            <div class="form-group">
                                <a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:15px">
                                    @Html.LabelFor(model => model.email_subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                </a>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.email_subject, new { @style = "width:522px" })
                                </div>
                                <br />
                            </div>
                            <div class="form-group">
                                <a style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:15px">
                                    @Html.LabelFor(model => model.email_Text, htmlAttributes: new { @class = "control-label col-md-2" })
                                </a>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.email_Text, new { @style = "width:522px" })
                                </div>
                                <br />
                            </div>
                   
                            <br />
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" id="CreateForm" type="submit"
                                            onclick="Validate(this, event);"
                                            style="text-align:center;margin-left:310px;margin-top:30px">
                                        Confirm
                                    </button>
                                    <button class="btn btn-danger" style="text-align:center;margin-left: 50px;margin-top:30px" type="reset">Reset</button>
                                </div>
                            </div>
                        </div>


                </div>

            </main>
        </div>
    </div>
}
