@model DataLibrary.Models.Rewards

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAlert").click(function (e) {
            var id = $(e.currentTarget).data("user-id");
            var arr = id.split(",");

            swal({
                confirmButtonText: "Yes",
                title: "Confirmation?",
                text: "Are you sure want to delete " + arr[0] +"?",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                function (isConfirm) {
                    if (isConfirm) {
                        swal("Deleted", "Rewards had been deleted", "success");
                        var link = '@Url.Action("DeleteReward", "Rewards",
                                               routeValues: new { id = "_myid_" })';
                        window.location.href= link.replace('_myid_', arr[0]);
                         } else {
                        swal("Cancelled", "Rewards remained", "error");

                            }
                });

            return false;

        });
    });

</script>
@using (Html.BeginForm("RDetails", "Rewards", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="layoutSidenav">

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <section class="panel">
                        <header class="panel-heading" style="font-size:250%">
                            Rewards Details
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal " method="get">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Rewards ID</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.RewardID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Description</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Note</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Blood Type</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.BloodTypeID, (SelectList)ViewBag.BloodType, new { style = "height: 33px;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">Is Active</label>
                                    <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.IsActive, (SelectList)ViewBag.isActive, new { style = "height: 33px;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">MinRequirement</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.MinRequirement, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="margin-top: 12px;">MaxClaim</label>
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.MaxClaim, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-dark" style="text-align:center;margin-left: 400px;" type="submit">Edit</button>
                                    <input type="button" id="btnAlert" class="btn btn-danger" style="text-align:center;margin-left: 70px;" data-user-id="@(Model.RewardID)" value="Delete" />
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
}
